/* stylesheet used for 2009 update;  not sure all of these need to be here; 
for example, would one really have a class for table?; 
only h1 appears to be used */ 

/* compare with one used for Concise 2007 Archive; modified slightly
from one used for 2008 Concise; this could probably use some modification
as well */

body {margin-left: 2em; margin-right: 2em;} 
h1 {font-family: Arial, Helvetica, sans-serif; font-size: 125%; text-align: center;}
h3 {text-align: left; margin-bottom: .5em;}
h4 {margin-top: .5em; margin-bottom: .5em;}
p {text-align: justify; margin-left: 2em; margin-right: 2em;}
.formatname {font-weight: bold; font-family: Arial, Helvetica, sans-serif; margin-left: .5em}
.datename {font-weight: bold; text-align: right; font-family: Arial, Helvetica, sans-serif;
margin-top: -1.2em;}
.box {font-family: ZapfDingbats; font-size: 100%;}
.captiontext {font-style: italic;}
.changebox {font-style: italic; margin-top: .5em;}
.changed {color: #FF0000;}
.changefield {text-align: left; margin-left: 1em; font-weight: bold;}
.changefieldlabel {margin-left: 3em;}
.changeindicator {margin-left: 3em;}
.changeindicatorfieldname {margin-left: 1em;}
.changeindicatorvalue {font-weight: bold;}
.changesection {text-align: left; margin-left: 2em; margin-top: .5em;}
.changesubfield {margin-left: 3em; font-weight: bold;}
.changefieldlabel {margin-left: 3em;}
.changesubfieldlocation {text-align: justify; font-weight: normal;}
.changesubfieldname {margin-left: 1em; font-weight: bold;}
.characterposition {text-align: left; margin-top: 1em; margin-bottom: 1em; margin-left: 2em;}
.characterpositionhistory {text-align: left; margin-top: .5em; margin-bottom: .5em; margin-left: 2em;}
.charactervalue {margin-left: 2em; margin-top: 1em; margin-bottom: 1em;}
.charactervaluehistory {margin-left: 2em; margin-top: .1em; margin-bottom: .1em;}
.citationaddress {margin-left: 2em; text-align: justify;}
.citationinternet {margin-left: 2em; text-align: justify;}
.citationname {font-style: italic; margin-top: 1em;}
.description {text-align: justify; margin-left: 2em;}
.description2  {text-align: justify; margin-top: 1em; margin-bottom: 1em;}
.description3 {text-align: justify; margin-top: 1em; margin-bottom: 1em; margin-left: 2em;}
.displaycontent {text-align: left;}
.displaytext {margin-bottom: .5em; margin-top: .5em; font-style: italic;}
.example {margin-left: 4em; margin-bottom: .75em;}
.fieldtoc {margin-left: 2em;}
.font_small {font-size: 10pt;}
.glossaryentry {margin-left: 2em; margin-top: 1em; font-weight: bold;}
.glossaryentrydescription {margin-left: 4em; margin-bottom: 1em; text-align: justify;}
.glossaryentryfields {margin-left: 4em; margin-bottom: 1em; text-align: justify; font-weight: bold;}
.head-nav {font-family: Arial, Helvetica, sans-serif; font-size: 9pt;}
.indicator {text-align: left; margin-top: 1em; margin-bottom: 1em;}
.indicatorvalue {margin-left: 2em; margin-top: 1em; margin-bottom: 1em;}
.subfield {text-align: left; margin-top: 1em; margin-bottom: 1em; margin-left: 2em;}
.subfieldvalue {margin-left: 2em; margin-top: 1em; margin-bottom: 1em;}
.subfieldtoc {margin-left: 3em;}
.summary {margin-left: 2em;}
.summarytable {margin-left: 4em;}
.table {margin-left: 2em; margin-top: 1em; margin-bottom: 1em;}
.update {text-align: center; font-weight: bold; margin-top: 1em; margin-bottom: 1em;}

.banner {text-align: center;}
.introduction {font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-align: center}
.contents {font-style: italic; font-weight: bold; margin-left:2em; font-size:20px; margin-top:1em;}
.contentslist {margin-left: 3em;}

#appendix-changes .changecode {font-weight: bold; margin-left: 3em;}
#appendix-changes .changefield {font-weight: bold; margin-left: 2em;}
#appendix-changes .fieldname{margin-left: 3.5em;}
#appendix-changes h4 {text-align: center;}
#appendix-newcodes .fieldname {margin left:;}
#appendix-newcodes .changecode {font-weight: bold;}
#appendix-changes .formername {font-weight: normal;}
#appendix-changes .changeindicatorvalue {font-weight: normal; margin-left: 4em;}
#appendix-changes .changefieldname {font-weight: normal; margin-left: 1em;}
#appendix-changes .changesubfieldname {font-weight: normal; margin-left: 1em;}
