/* edited: 6/3/13 ws */
/* stylesheet used for 2009 update;  not sure all of these need to be here; 
for example, would one really have a class for table?; 
only h1 appears to be used */ 

/* compare with one used for Concise 2007 Archive; modified slightly
from one used for 2008 Concise; this could probably use some modification
as well */

body {margin-left: 2em; margin-right: 2em;} 
h1 {font-family: Arial, Helvetica, sans-serif; font-size: 125%; text-align: center; }
h3 {text-align: left; margin-bottom: .5em;}
h4 {margin-top: .25em; margin-bottom: 0;}
.conventions h4 {margin-top: .25em; margin-bottom: 1em; font-size:110%}
p {text-align: justify; margin-left: 2em; margin-right: 2em;}
/*p a {font-style:italic;}*/
/* 7/16/11 WS: Changed th font-weight to normal from bold */
table th {font-weight:normal; padding-bottom: 0; margin:0; padding-right:2em; text-align:left;}
/* 8/9/11 WS: Added class to change display for controlfields */
table.controlfield th {font-weight:normal; padding-bottom: 0; margin:0; padding-right:0; text-align:left;}
/* 7/16/11 WS: Added bold for table headings */
table.indicators th {font-weight:bold;}
table.subfields th {font-weight:bold;}
.add table th {padding-right:2em !important;}
table td{vertical-align:top; padding-right:2em; text-align:left;}

/*-- list styles --*/
ul.subfieldtoc li{margin-left:2em;}
/*.indicators ul li{margin-left:2em;}
.indicators ul li{margin-bottom:1em;}*/
/*ul {margin-left:0; padding:0; margin-bottom:.5em;}*/
ul.nomark {margin:0; padding:0; margin-bottom:.5em;}
ul.nomark li{list-style-type:none; margin:0; padding:0;} 
table ul.nomark li {margin-bottom:.1em;}

/*-- General classes --*/
.head-nav {font-family: Arial, Helvetica, sans-serif; font-size: 9pt;}
.head-nav .caps{text-transform:capitalize}
.summary {margin-left: 2em;}
.summarytable {margin-left: 4em;}
.summarytable th {font-weight: normal; font-style:italic; padding-top: 1em; padding-bottom: .5em; padding-right:2em; padding-left:0;}
.summarytable td {font-weight: normal; padding-bottom: .15em; padding-right:2em; padding-left:.15em;}
.table {margin-left: 2em; margin-top: 1em; margin-bottom: 1em;}
.value .table {margin-left: 4em !important;}
.update {text-align: center; font-weight: bold; margin-top: 1em; margin-bottom: 1em;}
.banner {text-align: center;}
.introduction {font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-align: center}
.contents {font-style: italic; font-weight: bold; margin-left:2em; font-size:20px; margin-top:1em;}
.contentslist {margin-left: 3em;}
.style1 {color: #FF0000;}
.font_small {font-size: 10pt;}
.formatname {font-weight: bold; font-family: Arial, Helvetica, sans-serif; margin-left: .5em; text-transform:capitalize;}
.left {text-align:left; float:left; }
.right {text-align:right; float:right; }
.datename {font-weight: bold; text-align: right; font-family: Arial, Helvetica, sans-serif; margin-top: -1.2em;}
.box {font-family: ZapfDingbats; font-size: 100%;}
.captiontext {margin-left:0 !important; padding:0; font-style: italic;}
.changebox {font-style: italic; margin-top: .5em;}
.changed {color: #FF0000;}
.heading {margin-top:2em;}

/*-- Character Positions--*/
.prolouge {width:80%;}
dl.indent {margin-top:1em !important;}
dl.indent dd{margin-left:2em !important;}
/* 8/29/11 WS: added space after h4 in guidelines section. */
.guidelines h4 {margin-bottom:1em;}
.characterPositions {margin-top:0;}
.characterPositions div {text-align: left; margin-left: 1.5em; margin-top:0;}
.characterPositions div ul {margin-left: .75em; margin-top:0; padding-left:0;}
.characterPositions div ul li{margin-left: 0; margin-top:0; padding-left:0;}
.characterPositions div p{margin-top:0 !important; margin-left:.5em;}
.characterPositions div.value {margin-left: 1.75em;}
.characterPositions div.value div{margin-top:0; margin-left: .5em; margin-bottom:0;}
.characterPositions div.value div p{margin-top:0; margin-bottom:1em; padding-top:0; margin-left:1.5em;}
.charactervalue {margin-left: 2em; margin-top: 1em; margin-bottom: 1em;}
.characterPositions table{margin-left:2em;}
.groupHeading{font-style:italic; margin:0; padding:0; text-align:left;}
/* Waiting to here from John on this one. Old:
table.characterPositions {margin-left:0;}
*/
table.characterPositions {margin-left:2em; margin-top:1em;}
table.characterPositions dl {margin-left: 0; margin-top:0; margin-bottom: 8px;}
table.characterPositions dl dt{font-weight:bold;}
table.characterPositions dl dd{margin:0; padding-left:0;}
.characterPositionTitle {padding-top:1em; font-weight:bold;}

div.value {margin-top:.25em; margin-bottom:.5em;}
/*-- New styles for display in concise view --*/
.concise .characterPositions {text-align: left; margin-left: 2em;}
.concise .characterPositions div {margin-top:0; margin-bottom:.25em;}
.concise .characterPositions div p{margin-top:0; margin-bottom:.25em;}
.concise .characterPositions div.value {margin-top:0; margin-bottom:.25em; margin-left: 2.25em;}
/* 8/3/11 WS: New styels for subfield/characterPosition/description*/
.concise .subfields dl dd.subfieldCharacterDsc {padding-left:2.5em; margin-bottom:0;}
.concise .subfields dl dd.subfieldCharactervalueDsc {padding-left:2.5em; margin-bottom:0;}

.concise .indicators {margin-left: 2em; margin-top:0; margin-bottom: 1em;}
.concise .indicators ul li{margin-left: -2em; margin-top:0; margin-bottom: 1em;}
.concise .indicators dd p {margin-left: 2em; margin-top:0; margin-bottom: 0;}
.concise .examples {margin-left: 2em; margin-top:0; margin-bottom: 1em;}
/* 7/21/11 WS: Changed margins/padding to make less space in examples (bd041) */
.concise .examples tr td{padding-bottom: .1em; padding-right:.25em;}
.concise .subfields {margin-left: 2em; margin-top:0; margin-bottom: 1em;}
/* 7/27/11 WS elminate spaces in dl in concise (bd041) */
.concise .indicators dl {margin-top:0; margin-bottom:0;}
.concise .subfields dl {margin-top:0; margin-bottom:0;}
.concise dl {margin-top:.25em; padding-top:0;}
/* 8/9/11 WS: added to remove spaces after descriptions in concise version*/
.concise .characterPositions .value p{margin-bottom:0;}
.concise h4 {margin-bottom:0 !important;}
.conciseDsc {margin-left:-2em; padding:0;}
.conciseDsc p{margin:0 !important; padding:0 !important;}

/* Added new style to style citations as block elements, removed redundant styles*/
.citation {display:block; margin-left: 2em; text-align: justify; margin-bottom:1em;}
/*.citationname {font-style: italic;}*/
.displaycontent {text-align: left;}
.displaytext {margin-bottom: .5em; margin-top: .5em; font-style: italic;}
.display {margin-bottom: .5em; margin-top: .5em;}
/* 8/14/12 Added margin bottom for bd024 examples */
.example {margin-left: 4em; margin-bottom: .25em;}
.examplesec .example {margin-bottom:1.25em;}
.concise .examplesec .example {margin-bottom:0em;}
.concise table.examples{margin-left:3.5em;}
.concise .example table {margin-right:4em; margin-bottom:0;}

.example p.exampleCaption {margin-left: -2em; padding-left:0;}
.example table tr td{padding-right:.5em;}
/* 8/8/11 WS: Added more space after examplgp */
.characterPositions .example table {margin-right:4em; margin-bottom:1em;}
/* 8/14/11 WS: readjustment for spacing after examplegp */
.example table {margin-right:4em; margin-bottom: -.5em;}
.conventions .example table {margin-right:4em; margin-bottom: 1em; margin-top:-.5em;}
.value .example table {margin-left: 4em;}
/*-- toc styles --*/
.fieldtoc {margin-left: 2em;}
.tocCaption {font-style:italic;}
.toc {list-style:none;}
.tocfield {font-weight:bold;}

/*-- Glossary styles--*/
.glossaryentry {margin-left: 2em; margin-top: 1em;}
.glossaryTerm {font-weight:bold; margin-bottom:-1em;padding-bottom:0;}
.glossaryentrydescription {margin-left: 4em; margin-bottom: 1em; text-align: justify;}
.glossaryentryfields {margin-left: 2em; margin-bottom: 1em; text-align: justify; font-weight: bold;}

.indicator {text-align: left; margin-top: 1em; margin-bottom: 1em; /*margin-left:-2em;*/}
/* 9/21/11 Added class for indicator labels*/
.indicator div p.label {margin-top:0; margin-bottom:0; padding-top:0;}
.indicator p{text-align: left; margin-left:0; margin-top:.25em; margin-bottom:.25em;}
.indicator div{text-align: left; margin-left:1.75em; margin-top:0; margin-bottom:.25em;}
/* 8/14/11 WS: Remove space between indicator heading and paragraph*/
.indicator div div p{margin-top:0; margin-bottom:1em;}
.indicator .value {margin-left: 2em; margin-top: 1em; margin-bottom: 1em;}
/* 7/21/11 WS: Changed margin-bottom to .5em from 1em for bd041 */
.indicator .value .example {margin-left: 1.5em; margin-top:0; margin-bottom: .5em;}
/* 7/17/11 WS: Added to fix margins in cd761 */
/* 7/21/11 WS: Changed margin-bottom to .5em from 1em for bd041*/
.indicator .value .example table{margin-left: 1.5em; margin-top:0; margin-bottom: .5em;}
.indicator .example {margin-left: 4em; margin-top:0; margin-bottom: 1em;}
/* 7/17/11 WS: Added to fix margins in 763*/
.indicator .value .example p.exampleCaption {margin-left: .5em; padding-left:0;}

table.indicators {margin:0;padding:0;}
table.indicators td{margin:0;padding:0;}
table.indicators th{margin:0;padding:0; line-height:1em;}

.subfield {text-align: left; margin-top: 1em; margin-bottom: 1em;}
.subfield p {margin-bottom:0; padding-bottom:0;}
.subfield div {margin-left:2em; margin-top:0; padding-top:0; padding-bottom: 0; margin-bottom:0;}
.subfield ul {margin-left:2.5em;}
/* 10/28/11 changed margin-left from 3em to 0em for bdx00 $c */
.subfield div ul {margin-left:0em;}
/* 7/26/11 WS: changed margin-bottom to 0 from 1em bd041_up13 */
.subfield div p.label {margin-top:0; margin-bottom:0; padding-top:0;}
.subfield div p {margin-left:2em; margin-top:0; margin-bottom:1em; padding-top:0;}
.subfield .example {margin-left: 6em; margin-top:0; margin-bottom: 1em;}
.subfield .value {margin-left: 2em; margin-top: 1em; margin-bottom: 1em;}
.subfield .value div div{margin-left: .25em;}
.subfield .value div .example{margin-left: 2.25em;}
.concise .subfields dd.subfieldCharacter {margin-left:2.25em;}
.concise .subfields dd.subfieldCharactervalue {margin-left:3.85em;}
.subfield .characterPositions div.value {margin-left: 2em; margin-top:0; margin-bottom:1em;}
/* 9/26/11 WS: Added negative margins to deal with example in bd034 subfield a*/
.subfield .characterPositions div.value div.example {margin-left: 0; margin-top:-1em !important; margin-bottom:-1em !important;}
.subfield .characterPositions div.value div {margin-bottom:1em;}

.subfield .table {margin-left:4em; margin-bottom:1em;}
table.subfields {margin:0;padding:0;}
table.subfields p{margin:0; padding:0;}
table.subfields ul{margin-bottom:0; padding-bottom:0;}

.subfieldvalue {margin-left: 2em; margin-top: 1em; margin-bottom: 1em;}
.subfieldtoc {margin-left: 3em;}

/*-- History styles--*/
.history {font-size: 10pt;}
.history div p{margin-left:0;}
/*.history p{margin-left:0;}*/
/* 8/17/11 WS: removed margin-bottom */
.historyField {text-align: justify; /*margin-left: 2em;*/ margin-right: 2em; /*margin-bottom: 1em;*/}
.historyField div.spaceAfter{margin-left: 2em;}
.indicatorHistory {/*margin-left: 2em;*/ margin-bottom: 1em;}
.indicatorHistory div p{margin-left:0;margin-top:0; margin-bottom: 0;}
.indicatorHistory .valuehistory{margin-left:0;margin-bottom:0;}
.valuehistory {/*margin-left: 2.5em;*/ margin-top:0; padding:0; margin-bottom:0;}
/*9/13/11 removed margin-bottom to fix spacing*/
.historySubfield {text-align: justify; /*margin-left: 2em;*/margin-right: 2em; /*margin-bottom:1em;*/}
.history .characterPosition {margin-top:0; padding:0; margin-bottom:0;}
.charactervaluehistory {margin-left: 2em; margin-top: .1em; margin-bottom: .1em;}
.charactervaluehistory div p {margin-left: 2.5em; margin-top: .1em; margin-bottom: .1em;}
.characterPositionHistory div p {margin-top:0; margin-bottom:0;}
/* 8/4/11 WS: added styles for history bd008a_up13 */
.characterPositionHistoryDsc {margin-left:2.5em;}
.characterPositionHistory {margin-top:0; margin-bottom:1em;}
/* 8/29/11 WS: added styles for history subfield descriptions*/
.subfieldHistoryDsc {margin-left:2.5em;}
.subfieldHistoryDsc p{margin-top:0em; margin-bottom:0em;}
/* 8/4/11 WS: added styles for history bd008a_up13 */
.charactervaluehistoryLabel {font-style:italic;}
.history table th {font-weight:bold; padding-bottom: 0; margin:0; padding-right:.5em; text-align:left;}
.history table td{vertical-align:top; padding-right:.5em; text-align:left;}

.mappingSubfield {display:block; margin-left: 2em;}

.valueLabel {font-weight:bold;}

/*-- FieldPros styles--*/
.fieldPros .valueLabel {font-weight:normal; margin-top:0;}
.fieldPros p {margin-top:0; margin-bottom:.25em;}
.fieldPros p.heading {margin-top:1em; margin-bottom:1em;}
.fieldPros .characterPosition {margin-bottom:.5em;}
.fieldPros .characterPosition p {margin-bottom:.25em;}
.fieldPros .characterPosition div p {margin-left:3.5em;}
.fieldPros .value {margin-left:3.5em;}
.fieldPros ul {margin-left: 3em; font-style:normal !important;} 

.wildcard div p {margin-top:0; margin-bottom:0;}
.wildcard div h4 {margin-top:1em !important; margin-bottom:1em; margin-left:2em;}
.conventions div p{margin-top:0; margin-left:0;}
.article {margin:.5em;}
.appendixNote {margin:.5em; margin-left:4em;}
.citation dt {font-style:italic;}

.displayi td{padding-left:1em;}

/* Special style to indent bdleader "Dependancies" section */
.indent {margin-left:2em;}
.indent h4 {font-size:1em;}
/*.noprint {display:none;}*/

/* 4/5/12 WS: Adjusted styles for Format Change pages*/
#appendix-changes .changefield {text-align: left; margin-left: 1em; font-weight: bold;}
#appendix-changes .changefieldlabel {margin-left: 3em;}
#appendix-changes .changeindicator {margin-left: 3em;}
#appendix-changes .changeindicatorfieldname {margin-left: 1em;}
#appendix-changes .changeindicatorvalue {margin-left: 4em;}
#appendix-changes .changesection {text-align: left; margin-left: 2em; margin-top: .5em;}
#appendix-changes .changesubfield {margin-left: 3em; font-weight: bold !important;}
#appendix-changes .changefieldlabel {margin-left: 3em;}
#appendix-changes .changesubfieldlocation {text-align: justify; font-weight: normal !important;}
#appendix-changes .changesubfieldname {margin-left: 1em; font-weight: normal !important;}
#appendix-changes .characterposition {text-align: left; margin-top: 1em; margin-bottom: 1em; margin-left: 2em;}
#appendix-changes .characterpositionhistory {text-align: left; margin-top: .5em; margin-bottom: .5em; margin-left: 2em;}
#appendix-changes .charactervalue {margin-left: 2em; margin-top: 1em; margin-bottom: 1em;}
#appendix-changes .charactervaluehistory {margin-left: 2em; margin-top: .1em; margin-bottom: .1em;}
#appendix-changes .citationaddress {margin-left: 2em; text-align: justify;}
#appendix-changes .citationinternet {margin-left: 2em; text-align: justify;}
#appendix-changes .citationname {font-style: italic; margin-top: 1em;}
#appendix-changes .description {text-align: justify; margin-left: 2em;}
#appendix-changes .description2  {text-align: justify; margin-top: 1em; margin-bottom: 1em;}
#appendix-changes .description3 {text-align: justify; margin-top: 1em; margin-bottom: 1em; margin-left: 2em;}
#appendix-changes .glossaryentry {margin-left: 2em; margin-top: 1em; font-weight: bold;}
#appendix-changes .glossaryentrydescription {margin-left: 4em; margin-bottom: 1em; text-align: justify;}
#appendix-changes .glossaryentryfields {margin-left: 4em; margin-bottom: 1em; text-align: justify; font-weight: bold;}
#appendix-changes .indicator {text-align: left; margin-top: 1em; margin-bottom: 1em;}
#appendix-changes .indicatorvalue {margin-left: 2em; margin-top: 1em; margin-bottom: 1em;}
#appendix-changes .subfield {text-align: left; margin-top: 1em; margin-bottom: 1em; margin-left: 2em;}
#appendix-changes .subfieldvalue {margin-left: 2em; margin-top: 1em; margin-bottom: 1em;}
#appendix-changes .table {margin-left: 2em; margin-top: 1em; margin-bottom: 1em;}
#appendix-changes h4 {text-align: center;}
#appendix-changes .banner {text-align: center; color:black;}

/* Styles for changes element */
.appendix-changes .changecode {font-weight: bold ; margin-left: 3em;}
#appendix-changes .changecode {font-weight: bold ; margin-left: 3em;}
/* 7/21/11 WS: Added space in changes section for updates see bdapndxg */
.appendix-changes .changesection {margin-top:1em;}
#appendix-changes .changesection {margin-top:1em;}
/* 7/21/11 WS: Removed font-weight:bold */
.appendix-changes .changefield {/*font-weight: bold;*/ margin-left: 2em;}
#appendix-changes .changefield {/*font-weight: bold;*/ margin-left: 2em;}
.appendix-changes .fieldname{margin-left: 3.5em;}
#appendix-changes .fieldname{margin-left: 3.5em;}
.appendix-changes h4 {text-align: center;}
#appendix-changes h4 {text-align: center;}
.appendix-newcodes .changecode {font-weight: bold;}
#appendix-newcodes .changecode {font-weight: bold;}
.appendix-changes .formername {font-weight: normal;}
#appendix-changes .formername {font-weight: normal;}
.appendix-changes .changeindicatorvalue {font-weight: normal; margin-left: 4em;}
#appendix-changes .changeindicatorvalue {font-weight: normal; margin-left: 4em;}
.changesection {margin-left:2em; text-decoration:underline;}
.changesubfield {margin-left:3em;}
.changefieldlabel {margin-left:3em;}
#appendix-changes .changefieldname {font-weight: normal; margin-left: 1em;}
.appendix-changes .changefieldname {font-weight: normal; margin-left: 1em;}
#appendix-changes .changesubfieldname {font-weight: normal; margin-left: 1em;}
.appendix-changes .changesubfieldname {font-weight: normal; margin-left: 1em;}