body {margin-left: 2em; margin-right: 2em;} 
				h1 {font-family: Arial, Helvetica, sans-serif; font-size: 125%; text-align: center;}
				h3 {text-align: left;}
				h4 {margin-top: .5em; margin-bottom: .5em;}
				p {text-align: justify; margin-left: 2em; margin-right: 2em;}
				.characterposition {text-align :left; margin-top: .1em; margin-bottom: .1em; margin-left: 2em;}
				.charactervalue {margin-left: 2em; margin-top: .1em; margin-bottom: .1em;}
				.formatname {font-weight: bold; font-family: Arial, Helvetica, sans-serif; margin-left: .5em}
				.datename {font-weight: bold; text-align: right; font-family: Arial, Helvetica, sans-serif; margin-top: -1.2em;}
				.description {text-align: justify; margin-left: 2em;}
				.description2  {text-align: justify; margin-top: 1em; margin-bottom: 1em; margin-left: 2em;}
				.description3 {text-align: justify; margin-top: 1em; margin-bottom: 1em; margin-left: 2em;}
				.indicatorhead {font-weight: bold; margin-top: 1em;}
				.indicator {text-align: left;}
				.indicatorvalue {margin-left: 2em;}
				.subfieldvalue {margin-left: 2em;}
				.subfieldhead {font-weight: bold;margin-top: 1em;}
				.subfieldvalue {text-align: left; margin-left: 2em;}
				.examplehead {font-weight: bold;margin-top: 1em;}
				.example {margin-left: 4em;}
				.changed {color: #FF0000;}
				.table {margin-left: 2em; margin-top: 1em; margin-bottom: 1em;}
				.head-nav {font-family: Arial, Helvetica, sans-serif; font-size: 9pt;}

